[user]
	name = Yordan Ivanov
	email = mail@ivanovyordan.com
[credential]
	helper = cache

[core]
	editor=vim
	autocrlf=input
	eol=lf

[color]
	ui = true
[merget]
	tool = meld
[difft]
	tool = meld

[push]
	default = matching
[pull]
	rebase = true

[remote "pull-requests"]
	fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
