snippet diary "Today's diary entry"
# `!v strftime("%a, %d %b %Y")`

## Yesterday

- ${1:Notes from yesterday}


## Today

- [ ] ${2:Task for today}


## Tomorrow

- ${3:Task for tomorrow}


## Notes


endsnippet
